html, body{
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
  height: 100%;
  margin: 0;
}


.container{
  display: grid; 
  align-items: stretch;
  margin: 0 auto; 
  grid-template-columns: repeat(auto-fit,minma'(250px,1fr)');
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:       
    "header header header header"
    "main main main main" 
    "footer footer footer footer";
}

.item-header {
  grid-area: header;
  align-self: center;
  /* background-color: red;  */
  margin: 0 auto;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  /* background-color: violet; */
}

/* .grid-header h1,h2{
  font-family: 'Neucha', cursive;
  color: #565554;
  justify-content: center;
  justify-items: stretch;
  margin: 0 auto;
  padding-top: 20px;
}*/

.item-main{
  grid-area: main;
  /* padding: 10px; */
}

.grid-whoIam {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); */
  grid-gap: 1rem;
  /* background-color: blue; */
  padding: 1.5rem;
  justify-self: stretch;
  justify-content: center;
  margin: auto;
  /* text-align: center; */
  text-align: justify;
}

/* .item-about {
  padding: 1.5rem;
  justify-self: stretch;
  justify-content: center;
  margin: auto;
  /* text-align: center;
  text-align: justify;
} */

.bg {
  /* The image used */
  /*background-image: url("../images/thisismesmall.jpg");*/
  background-image: url("../images/meonnorraberget.jpg");
  /*filter: grayscale(40%);*/
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.herotext {
  text-align: center;
  font-family: 'Open sans', cursive;
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(0%, -50%);
  color: #fefefe;
  background-color: #565554;
  padding: 1.5rem;
  opacity: 90%;
}

/* .item-about #thisismepic {
  height: auto;
  justify-self: center;
  /* height: 300px;
  filter: grayscale(50%);
  /* filter: brightness(200%);
  /* border-radius: 10px;
}*/

.grid-content{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.item-content {
  padding: 1.5rem;
  justify-self: stretch;
  justify-content: center;
  margin: 0 auto;
  /* background-color: pink; */
}

.item-content .image{
  height: 180px;
}
/* .item-content #image {
  height: 180px;
} */

.item-content .image:hover {
  opacity: 0.5;
}

.grid-containter-modal{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item-modal{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.item-footer{
  font-family: 'Neucha', sans-serif;
  grid-area: footer;
  margin: 0 auto;
  padding: 10px;
  /* background-color: rosybrown; */
}

.grid-footer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.item-footer-content {
  justify-self: center;
  align-self: baseline;
}

.item-footer-content p{
  font-size: larger;
}

.item-footer-content #email{
  color: #000;
  font-size: larger;
}
#email:hover{
  opacity: 0.7;
}

.fa {
  padding: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  /* border-radius: 50%; */
}
  
.fa:hover {
  opacity: 0.7;
}
  
.fa-facebook {    
  background: #3B5998;
  color: white;
}

.fa-linkedin {    
  background: #007bb5;
  color: white;
 
}

.fa-instagram {
  background: #125688;
  color: white;
}
  
.fa-skype {
  background: #00aff0;    
  color: white;
}

#downloadbutton{
  background-color: #565554;
  font-family: 'Neucha', cursive;
  font-size: large; 
  border-radius: 6px; 
  /* border-color: #565554; */
  /* border-width: 5px;  */
  color: #fefefe;
  padding: 10px; 
}

#downloadbutton:hover{
  opacity: 0.7;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /*Location of the box   */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%; 
}
  
/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;  
}
  
#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#popupimg{
  height: 150px;
}

#adventureme{
  height: 150px;
}

@media only screen and (max-width: 950px){
  .grid-whoIam{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .grid-containter-modal{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  /* .item-about #thisismepic{ */
    .item-header #thisismepic{
    height: 150px;
  }  
  .grid-header h2{
    /* padding: 1.5rem; */
    text-align: center;
  }
  .modal{
    padding-top: 10px;
  }
  #popupimg{
    height: 90px;
  }
  #adventureme{
    height: 150px;
  }
.herotext{
  top: 80%;
  left: 30%;
  transform: translate(-20%, -70%);
  padding:0,1rem;
  opacity: 90%;

}

}